* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main: #fff;
  --input: #fff;
  --calculator-body: #fff;
  --operators: #ddd;
  --numbers: #f9f9f9;
  --letters: #000000;
}

#changeTheme {
  position: absolute;
  color: var(--letters);
  top: 0%;
  right: 0;
  margin: 2rem;
}

.dark_mode {
  position: absolute;
  top: 0;
  right: 110px;
  margin-top: 1.8rem;
}

.light_mode {
  position: absolute;
  top: 0;
  right: 110px;
  margin-top: 1.8rem;
  fill: white;
}

.hidden {
  display: none;
}

/*----- BOTAO SWITCH---------*/
.switch__container {
  margin: 1px auto;
  width: 120px;
}

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch--shadow + label {
  padding: 2px;
  width: 70px;
  height: 40px;
  background-color: #dddddd;
  border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch--shadow + label:after {
  width: 40px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #8ce196;
}
.switch--shadow:checked + label:after {
  transform: translateX(28px);
}

/*----- FIM BOTAO SWITCH---------*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main);
}

.calculator {
  padding: 1.5rem;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: var(--calculator-body);
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--letters);
}

.input {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  height: 4rem;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
  background-color: var(--input);
  color: var(--letters);
}

.input:hover {
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators div {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 0.2rem;
  width: 4.65rem;
  text-align: center;
  font-size: 2rem;
  padding: 0.2rem;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: var(--operators);
  color: var(--letters);
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.operators div:hover {
  background-color: #ddd;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.operators div:active {
  font-weight: bold;
  background-color: rgb(180, 178, 178);
}

aside {
  display: inline-block;
}

.numbers div {
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  width: 5rem;
  text-align: center;
  padding: 8px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: var(--numbers);
  color: var(--letters);
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.numbers div:hover {
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.numbers div:active {
  font-weight: bold;
  background-color: #cac8c8;
}

.equal {
  display: inline-block;
  border: 1px solid #3079ed;
  border-radius: 0.2rem;
  width: 17%;
  text-align: center;
  padding: 100px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  background-color: #4d90fe;
  transition: all 0.2s ease-in-out;
}

div.equal:hover {
  background-color: #307cf9;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #1857bb;
}

div.equal:active {
  font-weight: bold;
  background-color: #152f5a;
}
