* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 3rem;
  background-color: rgb(33, 108, 219);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

#buttons {
  display: flex;
  margin-top: 20px;
  gap: 12px;
  justify-content: center;
}

#buttons input {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.6rem;
  color: white;
  background-color: rgb(33, 108, 219);
}

#buttons input:hover {
  transform: translateY(-2px);
  color: black;
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
}
